<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>About WelcomePage</title>
        <link rel="stylesheet" type="text/css" href="/Content/markdownpad-github.css" />
    </head>
    <body>
        <h1>About WelcomePage</h1>

        <p>Location: <var>@Model.Location</var>; Process ID: <var>@Model.ProcessId</var></p>

        <p><strong>WelcomePage</strong> is a Visual Studio extension that automatically displays a welcome page when you open a solution.</p>
        <p>For more details, see <a href="http://github.com/rlipscombe/vs-welcome-page">http://github.com/rlipscombe/vs-welcome-page</a></p>
    
        <p><i>WelcomePage version @Model.Version</i></p>
    </body>
</html>
